.formato-cuenta-de {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.formato-cuenta-de .div {
    background-color: #ffffff;
    width: 635px;
    height: 882px;
    position: relative;
}

.formato-cuenta-de .header {
    position: absolute;
    width: 532px;
    height: 66px;
    top: 0;
    left: 40px;
    background-color: transparent;
}

.formato-cuenta-de .overlap {
    position: absolute;
    width: 128px;
    height: 40px;
    top: 26px;
    left: 404px;
    border: 0.3px solid;
    border-color: #000000;
}

.formato-cuenta-de .version {
    position: absolute;
    height: 12px;
    top: 13px;
    left: 38px;
    font-family: "Inter-Light", Helvetica;
    font-weight: 300;
    color: #000000;
    font-size: 10px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.formato-cuenta-de .overlap-group {
    position: absolute;
    width: 241px;
    height: 40px;
    top: 26px;
    left: 163px;
    border: 0.3px solid;
    border-color: #000000;
}

.formato-cuenta-de .formato-text {
    position: absolute;
    width: 230px;
    height: 27px;
    top: 5px;
    left: 8px;
    font-family: "Inter-Light", Helvetica;
    font-weight: 300;
    color: #000000;
    font-size: 9.1px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

.formato-cuenta-de .codigo-wrapper {
    position: absolute;
    width: 128px;
    height: 26px;
    top: 0;
    left: 404px;
    border: 0.3px solid;
    border-color: #000000;
}

.formato-cuenta-de .codigo {
    position: absolute;
    height: 11px;
    top: 8px;
    left: 20px;
    font-family: "Inter-Light", Helvetica;
    font-weight: 300;
    color: #000000;
    font-size: 9px;
    letter-spacing: 0;
    line-height: normal;
}

.formato-cuenta-de .contabilidad-wrapper {
    position: absolute;
    width: 241px;
    height: 26px;
    top: 0;
    left: 163px;
    border: 0.3px solid;
    border-color: #000000;
}

.formato-cuenta-de .contabilidad {
    position: absolute;
    height: 11px;
    top: 8px;
    left: 90px;
    font-family: "Inter-Light", Helvetica;
    font-weight: 300;
    color: #000000;
    font-size: 9.3px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.formato-cuenta-de .overlap-2 {
    position: absolute;
    width: 163px;
    height: 66px;
    top: 0;
    left: 0;
    border: 0.3px solid;
    border-color: #000000;
}

.formato-cuenta-de .procesos {
    position: absolute;
    height: 11px;
    top: 28px;
    left: 28px;
    font-family: "Inter-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 9px;
    letter-spacing: 0;
    line-height: normal;
}

.formato-cuenta-de .logo {
    position: absolute;
    width: 75px;
    height: 28px;
    top: 11px;
    left: 40px;

}

.formato-cuenta-de .high-area {
    position: absolute;
    width: 476px;
    height: 223px;
    top: 114px;
    left: 69px;
}

.formato-cuenta-de .overlap-3 {
    position: absolute;
    width: 411px;
    height: 35px;
    top: 185px;
    left: 65px;
}

.formato-cuenta-de .line-concepto {
    top: 26px;
    position: absolute;
    width: 410px;
    height: 7px;
    left: 0;
    font-family: "Inter-Light", Helvetica;
    font-weight: 300;
    color: #000000;
    font-size: 8.5px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.formato-cuenta-de .text-wrapper {
    top: 15px;
    position: absolute;
    width: 410px;
    height: 7px;
    left: 0;
    font-family: "Inter-Light", Helvetica;
    font-weight: 300;
    color: #000000;
    font-size: 8.5px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.formato-cuenta-de .line-concepto-2 {
    height: 10px;
    top: 2px;
    font-size: 8.5px;
    position: absolute;
    left: 0;
    font-family: "Inter-Light", Helvetica;
    font-weight: 300;
    color: #000000;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.formato-cuenta-de .input-concepto {
    width: 410px;
    top: -1px;
    left: 0;
    position: absolute;
    font-family: "Inter-Light", Helvetica;
    font-weight: 300;
    color: #000000;
    font-size: 8.6px;
    letter-spacing: 0;
    line-height: 1.5;
}

.formato-cuenta-de .concepto {
    position: absolute;
    height: 10px;
    top: 184px;
    left: 5px;
    font-family: "Inter-Light", Helvetica;
    font-weight: 300;
    color: #000000;
    font-size: 8.4px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.formato-cuenta-de .overlap-4 {
    position: absolute;
    width: 114px;
    height: 22px;
    top: 147px;
    left: 362px;
}

.formato-cuenta-de .overlap-5 {
    position: absolute;
    width: 114px;
    height: 22px;
    top: 0;
    left: 0;
}

.formato-cuenta-de .line-valor-numeros {
    width: 114px;
    top: 9px;
    left: 0px;
    position: absolute;
    height: 3px;
    font-family: "Inter-Light", Helvetica;
    font-weight: 300;
    color: #000000;
    font-size: 8.5px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.formato-cuenta-de .valor-numeros {
    top: 19px;
    left: 5px;
    position: absolute;
    height: 10px;
    font-family: "Inter-Light", Helvetica;
    font-weight: 300;
    color: #000000;
    font-size: 8.6px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.formato-cuenta-de .money-symbol {
    height: 11px;
    top: 9px;
    left: 0;
    position: absolute;
    font-family: "Inter-Light", Helvetica;
    font-weight: 300;
    color: #000000;
    font-size: 9px;
    letter-spacing: 0;
    line-height: normal;
}

.formato-cuenta-de .input-valor-numeros {
    width: 107px;
    top: 9px;
    left: -10px;
    position: absolute;
    height: 10px;
    font-family: "Inter-Light", Helvetica;
    font-weight: 300;
    color: #000000;
    font-size: 8.6px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

.formato-cuenta-de .line-valor-letras {
    width: 283px;
    top: 156px;
    left: 64px;
    position: absolute;
    height: 3px;
    font-family: "Inter-Light", Helvetica;
    font-weight: 300;
    color: #000000;
    font-size: 8.5px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.formato-cuenta-de .input-valor-letras {
    width: 282px;
    top: 156px;
    left: 65px;
    position: absolute;
    height: 10px;
    font-family: "Inter-Light", Helvetica;
    font-weight: 300;
    color: #000000;
    font-size: 8.6px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

.formato-cuenta-de .valor-letras {
    top: 167px;
    left: 181px;
    position: absolute;
    height: 10px;
    font-family: "Inter-Light", Helvetica;
    font-weight: 300;
    color: #000000;
    font-size: 8.6px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.formato-cuenta-de .line-la-suma-de {
    position: absolute;
    height: 10px;
    top: 136px;
    left: 64px;
    font-family: "Inter-Light", Helvetica;
    font-weight: 300;
    color: #000000;
    font-size: 8.5px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.formato-cuenta-de .la-suma-de {
    position: absolute;
    height: 10px;
    top: 134px;
    left: 5px;
    font-family: "Inter-Light", Helvetica;
    font-weight: 300;
    color: #000000;
    font-size: 8.5px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.formato-cuenta-de .overlap-6 {
    position: absolute;
    width: 325px;
    height: 14px;
    top: 92px;
    left: 81px;
}

.formato-cuenta-de .line-identificacion {
    height: 10px;
    top: 4px;
    font-size: 8.6px;
    position: absolute;
    left: 0;
    font-family: "Inter-Light", Helvetica;
    font-weight: 300;
    color: #000000;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.formato-cuenta-de .input-identificacion {
    width: 324px;
    height: 10px;
    top: 3px;
    left: 0;
    text-align: center;
    position: absolute;
    font-family: "Inter-Light", Helvetica;
    font-weight: 300;
    color: #000000;
    font-size: 8.6px;
    letter-spacing: 0;
    line-height: normal;
}

.formato-cuenta-de .identificacion {
    position: absolute;
    width: 56px;
    height: 13px;
    top: 107px;
    left: 215px;
    font-family: "Inter-Light", Helvetica;
    font-weight: 300;
    color: #000000;
    font-size: 8.6px;
    letter-spacing: 0;
    line-height: normal;
}

.formato-cuenta-de .overlap-7 {
    position: absolute;
    width: 329px;
    height: 12px;
    top: 57px;
    left: 78px;
}

.formato-cuenta-de .line-nombre {
    width: 329px;
    height: 3px;
    top: 0px;
    font-size: 8.6px;
    position: absolute;
    left: 0;
    font-family: "Inter-Light", Helvetica;
    font-weight: 300;
    color: #000000;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.formato-cuenta-de .input-nombre {
    width: 327px;
    height: 10px;
    top: 0px;
    left: 0;
    text-align: center;
    position: absolute;
    font-family: "Inter-Light", Helvetica;
    font-weight: 300;
    color: #000000;
    font-size: 8.6px;
    letter-spacing: 0;
    line-height: normal;
}

.formato-cuenta-de .nombre {
    position: absolute;
    height: 10px;
    top: 70px;
    left: 225px;
    font-family: "Inter-Light", Helvetica;
    font-weight: 300;
    color: #000000;
    font-size: 8.6px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.formato-cuenta-de .debe-a {
    position: absolute;
    height: 10px;
    top: 36px;
    left: 233px;
    font-family: "Inter-Light", Helvetica;
    font-weight: 300;
    color: #000000;
    font-size: 8.6px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.formato-cuenta-de .nit {
    position: absolute;
    width: 98px;
    height: 10px;
    top: 12px;
    left: 211px;
    font-family: "Inter-Light", Helvetica;
    font-weight: 300;
    color: #000000;
    font-size: 8.7px;
    letter-spacing: 0;
    line-height: normal;
}

.formato-cuenta-de .icesi {
    position: absolute;
    height: 10px;
    top: -1px;
    left: 210px;
    font-family: "Inter-Light", Helvetica;
    font-weight: 300;
    color: #000000;
    font-size: 8.2px;
    letter-spacing: 0;
    line-height: normal;
}

.formato-cuenta-de .middle-area {
    position: absolute;
    width: 494px;
    height: 220px;
    top: 371px;
    left: 75px;
}

.formato-cuenta-de .c {
    position: absolute;
    width: 300px;
    height: 14px;
    top: 206px;
    left: 5px;
}

.formato-cuenta-de .box-no-c {
    top: 1px;
    left: 287px;
    position: absolute;
    width: 13px;
    height: 13px;
    border: 0.3px solid;
    border-color: #000000;
}

.formato-cuenta-de .no-c {
    position: absolute;
    height: 10px;
    top: 1px;
    left: 269px;
    font-family: "Inter-Light", Helvetica;
    font-weight: 300;
    color: #000000;
    font-size: 8.5px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.formato-cuenta-de .div-2 {
    width: 13px;
    top: 0;
    left: 249px;
    position: absolute;
    height: 13px;
    border: 0.3px solid;
    border-color: #000000;
}

.formato-cuenta-de .si-c {
    top: 1px;
    left: 234px;
    position: absolute;
    height: 10px;
    font-family: "Inter-Light", Helvetica;
    font-weight: 300;
    color: #000000;
    font-size: 8px;
    letter-spacing: 0;
    line-height: normal;
}

.formato-cuenta-de .p {
    position: absolute;
    height: 10px;
    top: 1px;
    left: 0;
    font-family: "Inter-Light", Helvetica;
    font-weight: 300;
    color: #000000;
    font-size: 8.6px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.formato-cuenta-de .b {
    position: absolute;
    width: 300px;
    height: 13px;
    top: 181px;
    left: 5px;
}

.formato-cuenta-de .box-no-b {
    top: 0;
    left: 287px;
    position: absolute;
    width: 13px;
    height: 13px;
    border: 0.3px solid;
    border-color: #00000000;
}

.formato-cuenta-de .no-b {
    top: 1px;
    left: 268px;
    position: absolute;
    height: 10px;
    font-family: "Inter-Light", Helvetica;
    font-weight: 300;
    color: #000000;
    font-size: 8.5px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.formato-cuenta-de .si-b {
    top: 1px;
    left: 233px;
    position: absolute;
    height: 10px;
    font-family: "Inter-Light", Helvetica;
    font-weight: 300;
    color: #000000;
    font-size: 8px;
    letter-spacing: 0;
    line-height: normal;
}

.formato-cuenta-de .warning {
    position: absolute;
    height: 10px;
    top: 157px;
    left: 40px;
    font-family: "Inter-Light", Helvetica;
    font-weight: 300;
    color: #000000;
    font-size: 8.6px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.formato-cuenta-de .a {
    position: absolute;
    width: 403px;
    height: 63px;
    top: 82px;
    left: 18px;
}

.formato-cuenta-de .box-no-a {
    top: 50px;
    left: 42px;
    position: absolute;
    width: 13px;
    height: 13px;
    border: 0.3px solid;
    border-color: #000000;
}

.formato-cuenta-de .no-a {
    top: 50px;
    left: 22px;
    position: absolute;
    height: 10px;
    font-family: "Inter-Light", Helvetica;
    font-weight: 300;
    color: #000000;
    font-size: 8.5px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.formato-cuenta-de .no-a-text {
    position: absolute;
    height: 10px;
    top: 50px;
    left: 63px;
    font-family: "Inter-Light", Helvetica;
    font-weight: 300;
    color: #000000;
    font-size: 8.6px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.formato-cuenta-de .box-si-a {
    position: absolute;
    width: 13px;
    height: 13px;
    top: 24px;
    left: 42px;
    border: 0.3px solid;
    border-color: #000000;
}

.formato-cuenta-de .si-a {
    top: 25px;
    left: 22px;
    position: absolute;
    height: 10px;
    font-family: "Inter-Light", Helvetica;
    font-weight: 300;
    color: #000000;
    font-size: 8px;
    letter-spacing: 0;
    line-height: normal;
}

.formato-cuenta-de .si-a-text {
    position: absolute;
    height: 10px;
    top: 25px;
    left: 63px;
    font-family: "Inter-Light", Helvetica;
    font-weight: 300;
    color: #000000;
    font-size: 8.6px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.formato-cuenta-de .a-text {
    position: absolute;
    height: 11px;
    top: -1px;
    left: 0;
    font-family: "Inter-Light", Helvetica;
    font-weight: 300;
    color: #000000;
    font-size: 8.8px;
    letter-spacing: 0;
    line-height: normal;
}

.formato-cuenta-de .second-text {
    position: absolute;
    width: 494px;
    height: 34px;
    top: 33px;
    left: 0;
    font-family: "Inter-Light", Helvetica;
    font-weight: 300;
    color: #000000;
    font-size: 8.6px;
    letter-spacing: 0;
    line-height: normal;
}

.formato-cuenta-de .first-text {
    position: absolute;
    width: 494px;
    height: 22px;
    top: -1px;
    left: 0;
    font-family: "Inter-Light", Helvetica;
    font-weight: 300;
    color: #000000;
    font-size: 8.6px;
    letter-spacing: 0;
    line-height: normal;
}

.formato-cuenta-de .low-area {
    position: absolute;
    width: 368px;
    height: 148px;
    top: 620px;
    left: 75px;
}

.formato-cuenta-de .overlap-8 {
    position: absolute;
    width: 172px;
    height: 14px;
    top: 136px;
    left: 158px;
}

.formato-cuenta-de .box-cex-no {
    position: absolute;
    width: 172px;
    height: 13px;
    top: 1px;
    left: 0;
    background-color: #d9d9d9;
    border: 0.3px solid;
    border-color: #000000;
}

.formato-cuenta-de .input-cex-no {
    position: absolute;
    width: 132px;
    height: 13px;
    top: 4px;
    left: 40px;
    font-family: "Inter-Light", Helvetica;
    font-weight: 300;
    color: #000000;
    font-size: 8.6px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

.formato-cuenta-de .cex-no {
    position: absolute;
    height: 10px;
    top: 2px;
    left: 5px;
    font-family: "Inter-Light", Helvetica;
    font-weight: 300;
    color: #000000;
    font-size: 8.6px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.formato-cuenta-de .overlap-9 {
    position: absolute;
    width: 172px;
    height: 27px;
    top: 98px;
    left: 275px;
}

.formato-cuenta-de .box-empty-no {
    position: absolute;
    width: 160px;
    height: 13px;
    top: 14px;
    left: 0;
    border: 0.3px solid;
    border-color: #000000;
}

.formato-cuenta-de .input-no {
    width: 160px;
    height: 13px;
    top: 17px;
    left: 0;
    text-align: center;
    position: absolute;
    font-family: "Inter-Light", Helvetica;
    font-weight: 300;
    color: #000000;
    font-size: 8.6px;
    letter-spacing: 0;
    line-height: normal;
}

.formato-cuenta-de .box-no {
    width: 160px;
    top: 1px;
    left: 0;
    position: absolute;
    height: 13px;
    border: 0.3px solid;
    border-color: #000000;
}

.formato-cuenta-de .no {
    position: absolute;
    height: 10px;
    top: 4px;
    left: 75px;
    font-family: "Inter-Light", Helvetica;
    font-weight: 300;
    color: #000000;
    font-size: 8.6px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.formato-cuenta-de .overlap-10 {
    position: absolute;
    width: 92px;
    height: 26px;
    top: 99px;
    left: 183px;
}

.formato-cuenta-de .box-empty-tipo {
    position: absolute;
    width: 92px;
    height: 13px;
    top: 13px;
    left: 0;
    border: 0.3px solid;
    border-color: #000000;
}

.formato-cuenta-de .input-tipo-cuenta {
    position: absolute;
    width: 92px;
    height: 13px;
    top: 17px;
    left: 0;
    font-family: "Inter-Light", Helvetica;
    font-weight: 300;
    color: #000000;
    font-size: 8.6px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

.formato-cuenta-de .box-tipo-cuenta {
    position: absolute;
    width: 92px;
    height: 13px;
    top: 0;
    left: 0;
    border: 0.3px solid;
    border-color: #000000;
}

.formato-cuenta-de .tipo-cuenta {
    position: absolute;
    height: 10px;
    top: 0;
    left: 15px;
    font-family: "Inter-Light", Helvetica;
    font-weight: 300;
    color: #000000;
    font-size: 8.6px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.formato-cuenta-de .overlap-11 {
    position: absolute;
    width: 142px;
    height: 26px;
    top: 99px;
    left: 41px;
}

.formato-cuenta-de .box-empty-nombre {
    position: absolute;
    width: 142px;
    height: 13px;
    top: 13px;
    left: 0;
    border: 0.3px solid;
    border-color: #000000;
}

.formato-cuenta-de .input-nombre-banco {
    position: absolute;
    width: 142px;
    height: 13px;
    top: 17px;
    left: 0;
    font-family: "Inter-Light", Helvetica;
    font-weight: 300;
    color: #000000;
    font-size: 8.6px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

.formato-cuenta-de .box-nombre-banco {
    position: absolute;
    width: 142px;
    height: 13px;
    top: 0;
    left: 0;
    border: 0.3px solid;
    border-color: #000000;
}

.formato-cuenta-de .nombre-banco {
    position: absolute;
    height: 10px;
    top: 0;
    left: 33px;
    font-family: "Inter-Light", Helvetica;
    font-weight: 300;
    color: #000000;
    font-size: 8.6px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.formato-cuenta-de .input-telefono {
    width: 200px;
    height: 10px;
    top: 74px;
    left: 50px;
    white-space: nowrap;
    position: absolute;
    font-family: "Inter-Light", Helvetica;
    font-weight: 300;
    color: #000000;
    font-size: 8.6px;
    letter-spacing: 0;
    line-height: normal;
}

.formato-cuenta-de .telefono {
    position: absolute;
    height: 10px;
    top: 74px;
    left: 7px;
    font-family: "Inter-Light", Helvetica;
    font-weight: 300;
    color: #000000;
    font-size: 8.6px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.formato-cuenta-de .input-direccion {
    width: 200px;
    height: 10px;
    top: 62px;
    left: 54px;
    white-space: nowrap;
    position: absolute;
    font-family: "Inter-Light", Helvetica;
    font-weight: 300;
    color: #000000;
    font-size: 8.6px;
    letter-spacing: 0;
    line-height: normal;
}

.formato-cuenta-de .direccion {
    position: absolute;
    height: 10px;
    top: 62px;
    left: 7px;
    font-family: "Inter-Light", Helvetica;
    font-weight: 300;
    color: #000000;
    font-size: 8.6px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.formato-cuenta-de .input-cc {
    width: 200px;
    height: 10px;
    top: 50px;
    left: 32px;
    white-space: nowrap;
    position: absolute;
    font-family: "Inter-Light", Helvetica;
    font-weight: 300;
    color: #000000;
    font-size: 8.6px;
    letter-spacing: 0;
    line-height: normal;
}

.formato-cuenta-de .CC {
    position: absolute;
    height: 10px;
    top: 50px;
    left: 7px;
    font-family: "Inter-Light", Helvetica;
    font-weight: 300;
    color: #000000;
    font-size: 8.6px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.formato-cuenta-de .input-firma {
    width: 200px;
    height: 10px;
    top: 38px;
    left: 32px;
    white-space: nowrap;
    position: absolute;
    font-family: "Inter-Light", Helvetica;
    font-weight: 300;
    color: #000000;
    font-size: 8.6px;
    letter-spacing: 0;
    line-height: normal;
}

.formato-cuenta-de .firma {
    position: absolute;
    height: 10px;
    top: 38px;
    left: 7px;
    font-family: "Inter-Light", Helvetica;
    font-weight: 300;
    color: #000000;
    font-size: 8.6px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.formato-cuenta-de .overlap-12 {
    position: absolute;
    width: 164px;
    height: 16px;
    top: -5px;
    left: 65px;
}

.formato-cuenta-de .line-c-y-f {
    position: absolute;
    width: 164px;
    height: 9px;
    top: 7px;
    left: 0;
    font-family: "Inter-Light", Helvetica;
    font-weight: 300;
    color: #000000;
    font-size: 8.6px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.formato-cuenta-de .input-fecha {
    width: 66px;
    height: 13px;
    top: 6px;
    left: 98px;
    text-align: center;
    position: absolute;
    font-family: "Inter-Light", Helvetica;
    font-weight: 300;
    color: #000000;
    font-size: 8.6px;
    letter-spacing: 0;
    line-height: normal;
}

.formato-cuenta-de .input-ciudad {
    width: 98px;
    height: 14px;
    top: 6px;
    left: 0;
    text-align: center;
    position: absolute;
    font-family: "Inter-Light", Helvetica;
    font-weight: 300;
    color: #000000;
    font-size: 8.6px;
    letter-spacing: 0;
    line-height: normal;
}

.formato-cuenta-de .c-y-f {
    position: absolute;
    height: 10px;
    top: -1px;
    left: 0;
    font-family: "Inter-Light", Helvetica;
    font-weight: 300;
    color: #000000;
    font-size: 8.6px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}