/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
}

/* Estilos para el encabezado */
h1 {
    color: #333;
    text-align: center;
    margin-bottom: 30px;
}

/* Estilos para el formulario */
form {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilos para los campos de entrada */
form input[type="text"],
form input[type="email"],
form select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
    margin-bottom: 15px;
}

/* Estilos para el botón "Guardar Cambios" */
form button[type="submit"] {
    display: block; /* Hace que el botón ocupe todo el ancho disponible */
    margin: 0 auto; /* Centra horizontalmente el botón */
}

form label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
}


form button[type="submit"] {
    background-color: #2196f3;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form button[type="submit"]:hover {
    background-color: #0d8bf2;
}