{% extends 'layouts/base.html' %}

{% block content %}
{% load static %}
{% include 'partials/error_modal.html' %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title >Ventanilla unica</title>
        <link rel="stylesheet" href= "{% static '/styles/oneStopShopStyle.css' %}" >
        <link rel="icon" href="data:;base64,iVBORw0KGgo=">
        <link rel="stylesheet" type='text/css' href="{% static '/styles/error_modal.css' %}">
    </head>

  <body>
    <div class="heading">
        <h1><span style="font-size: 40px;"> Centro compartido de servicios </span></h1>
    </div>
    <div>
            <div class = "outer-wrapper">
                <div class="table-wrapper">
                    <table >
                        <tr>
                            <th>
                               Fecha de creación
                            </th>
                            <th>
                                Creador
                            </th>
                            <th>
                                Tipo de solicitud
                            </th>
                            <th>
                                Proveedor
                            </th>
                            <th>
                                Identificacion
                            </th>
                            <th>
                                Numero de documento
                            </th>
                            <th>
                                Datos adjuntos
                            </th>
                            <th>
                                Gestor
                            </th>
                            <th>
                                Estado
                            </th>
                            <th>
                                aprobado por
                            </th>
                            <th>
                                Revisado por
                            </th>
                            <th>
                                Estado de aceptacion
                            </th>
                            <th>
                                Fecha de aceptacion
                            </th>
                            <th>
                                Estado de revision
                            </th>
                            <th>
                                Revision
                            </th>
                            <th>
                                Concepto
                            </th>
                            <th>
                                Email del proveedor
                            </th>
                            <th>
                                Moneda
                            </th>
                            <th>
                                Valor del documento
                            </th>
                            <th>
                                CENCO
                            </th>
                            <th>
                                Numero de contrato CEX
                            </th>
                            <th>
                                Observaciones
                            </th>
                            <th>
                                Fecha de Revision
                            </th>
                            <th>
                                Estado de aprobación
                            </th>
                            <th>
                                Aprobación
                            </th>
                            <th>
                                Fecha de aprobación
                            </th>
                            <th>
                                Comentarios de aprobación
                            </th>
                            <th>
                                Recibido area contable
                            </th>
                            <th>
                                Comentarios area contable
                            </th>
                            <th>
                                Fecha del tramite
                            </th>
                            <th>
                                Recibido por(Area contable)
                            </th>
                            <th>
                                Modificado
                            </th>
                            <th>
                                Modificado por
                            </th>
                            <th>
                                Fecha de cierre
                            </th>
                            <th>
                                Historial
                            </th>
                        </tr>
                        {% for following in followingData %}
                        <tr data-following-id="{{ following.id }}">
                            <td>
                                {{following.creationDate}}
                            </td>
                            <td>
                                {{following.creator}}
                            </td>
                            <td>
                                {{following.type}}
                            </td>
                            <td>
                                {{following.supplier}}
                            </td>
                            <td>
                                {{following.supplierId}}
                            </td>
                            <td>
                                {{following.documentNumber}}
                            </td>
                            <td>
                                <ul>
                                    {% for document in files %}
                                    {% if document.associatedFollowing == following %}
                                    <a href="{{document.file.url}}">{{document}}</a>
                                    <br>
                                    {% endif %}
                                    {% endfor %}
                                </ul>
                            </td>
                            <td>
                                {{following.manager}}
                                <button onclick="mostrarLista('gestor', event, this)">Seleccionar</button>
                            </td>

                            <td bgcolor="{{ following.currentState.color }}">
                                <span id="state_{{ following.id }}">{{ following.currentState.state }}</span>
                                <button id="edit-btn_{{ following.id }}" class="edit-btn" onclick="openPop('{{ following.id }}')"></button>
                                                            
                                <div id="popup_{{ following.id }}" class="popup">
                                    <div class="popup-content">
                                        <span class="close" onclick="closePop('{{ following.id }}')">&times;</span>
                                        <form id="editStateForm_{{ following.id }}" method="post" action="{% url 'update_state' following.id %}">
                                            {% csrf_token %}
                                            <div class="form-group row">
                                                <label for="estadoEdit">Estados:</label>
                                                <select id="state_{{ following.id }}" name="estadoEdit" required>
                                                    {% for estado in states %}
                                                    <option value="{{ estado.state }}" {% if estado.state == following.currentState.state %} selected {% endif %}>{{ estado.state }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                            <div class="form-group row">
                                                <label for="description">Descripción:</label>
                                                <textarea id="description_{{ following.id }}" name="description" required></textarea>
                                            </div>
                                            <button class="btn btn-primary" type="submit">Actualizar Estado</button>
                                        </form>                                        
                                    </div>
                                </div>                                
                            </td> 

                            <td>
                                {{following.acceptor}}
                                <button onclick="mostrarLista('aprobador', event, this)">Seleccionar</button>
                            </td>
                            <td>
                                {{following.revisor}}
                                <button onclick="mostrarLista('revisor', event, this)">Seleccionar</button>
                            </td>

                            <td {{following.acceptanceState}}>
                                <span id="following_{{ following.id }}">{{ following.acceptanceState }}</span>
                                <button class="estado-btn" onclick="openCommentModal('{{ following.id }}', 'acceptance')"></button>
                                
                                <div id="commentModal_acceptance_{{ following.id }}" class="popup">
                                    <div class="popup-content">
                                        <span class="close" onclick="closeCommentModal('{{ following.id }}', 'acceptance')">&times;</span>
                                        <form id="commentForm_acceptance_{{ following.id }}" method="post" action="{% url 'acceptance_state' following.id %}">
                                            {% csrf_token %}
                                            <div class="form-group row">
                                                <label for="acceptance_state_{{ following.id }}">Comentario para el estado de Aceptación:</label>
                                                <textarea id="acceptance_state_{{ following.id }}" name="acceptance_state" maxlength="10" required></textarea>                                                
                                            </div>
                                            <button class="btn btn-primary" type="submit">Guardar comentario</button>
                                        </form>    
                                    </div>
                                </div>
                                <div id="listaUsuarios" style="display: none; position: absolute; background-color: white; border: 1px solid black; padding: 10px;">
                                    <h3>Selecciona un usuario:</h3>
                                    <form method="post">
                                        {% csrf_token %}
                                        <ul>
                                            {% for usuario in usuarios %}
                                                <li><input type="radio" name="usuario" value="{{ usuario.id }}"> {{ usuario.first_name }} {{ usuario.last_name }}</li>
                                            {% endfor %}
                                        </ul>
                                        <button type="submit">Seleccionar</button>
                                    </form>
                                </div>
                            </td>
                            
                            
                            <td>
                                {{following.acceptanceDate}}
                            </td>

                            <td {{following.revisionState}}>
                                <span id="following{{ following.id }}">{{ following.revisionState }}</span>
                                <button class="estado-btn" onclick="openCommentModal('{{ following.id }}', 'revision')"></button>
                                
                                <div id="commentModal_revision_{{ following.id }}" class="popup">
                                    <div class="popup-content">
                                        <span class="close" onclick="closeCommentModal('{{ following.id }}', 'revision')">&times;</span>
                                        <form id="commentForm_revision_{{ following.id }}" method="post" action="{% url 'revision_state' following.id %}">
                                            {% csrf_token %}
                                            <div class="form-group row">
                                                <label for="revision_state_{{ following.id }}">Comentario para el estado de Revisión:</label>
                                                <textarea id="revision_state_{{ following.id }}" name="revision_state" maxlength="10" required></textarea>                                                
                                            </div>
                                            <button class="btn btn-primary" type="submit">Guardar comentario</button>
                                        </form>    
                                    </div>
                                </div>
                            </td>
                            

                            <td>
                                {{following.revision}}
                            </td>
                            <td>
                                {{following.concept}}
                            </td>
                            <td>
                                {{following.supplierEmail}}
                            </td>
                            <td>
                                {{following.moneyType}}
                            </td>
                            <td>
                                {{following.amount}}
                            </td>
                            <td>
                                {{following.cenco}}
                            </td>
                            <td>
                                {{following.cexNumber}}
                            </td>
                            <td>
                                {{following.observations}}
                            </td>
                            <td>
                                {{following.revisionDate}}
                            </td>

                            <td {{following.approvalState}}>
                                <span id="approval_{{ following.id }}">{{ following.approvalState }}</span>
                                <button class="estado-btn" onclick="openCommentModal('{{ following.id }}', 'approval')"></button>
                                
                                <div id="commentModal_approval_{{ following.id }}" class="popup">
                                    <div class="popup-content">
                                        <span class="close" onclick="closeCommentModal('{{ following.id }}', 'approval')">&times;</span>
                                        <form id="commentForm_approval_{{ following.id }}" method="post" action="{% url 'approval_state' following.id %}">
                                            {% csrf_token %}
                                            <div class="form-group row">
                                                <label for="approval_state_{{ following.id }}">Comentario para el estado de Aprobación:</label>
                                                <textarea id="approval_state_{{ following.id }}" name="approval_state" maxlength="10" required></textarea>                                                
                                            </div>
                                            <button class="btn btn-primary" type="submit">Guardar comentario</button>
                                        </form>    
                                    </div>
                                </div>
                            </td>
                            
                            
                            <td>
                                {{following.approval}}
                            </td>
                            <td>
                                {{following.approvalDate}}
                            </td>     

                            <td {{ following.approvalComments }}>
                                <span id="following_{{ following.id }}">{{ following.approvalComments }}</span>
                                <button class="comentar-btn" onclick="openCommentModal('{{ following.id }}', 'approval')"></button>
                                
                                <div id="commentModal_approval_{{ following.id }}" class="popup">
                                    <div class="popup-content">
                                        <span class="close" onclick="closeCommentModal('{{ following.id }}', 'approval')">&times;</span>
                                        <form id="commentForm_approval_{{ following.id }}" method="post" action="{% url 'approval_comment' following.id %}">
                                            {% csrf_token %}
                                            <div class="form-group row">
                                                <label for="approval_comment_{{ following.id }}">Comentario de Aprobación:</label>
                                                <textarea id="approval_comment_{{ following.id }}" name="approval_comment" required></textarea>                                                
                                            </div>
                                            <button class="btn btn-primary" type="submit">Guardar comentario</button>
                                        </form>    
                                    </div>
                                </div>    
                            </td>
                            
                            <td>
                                {{ following.accountingReception }}
                            </td>
                            
                            <td {{ following.accountingComments }}>
                                <span id="following_accounting_{{ following.id }}">{{ following.accountingComments }}</span>
                                <button class="comentar-btn" onclick="openCommentModal('{{ following.id }}', 'accounting')"></button>
                                
                                <div id="commentModal_accounting_{{ following.id }}" class="popup">
                                    <div class="popup-content">
                                        <span class="close" onclick="closeCommentModal('{{ following.id }}', 'accounting')">&times;</span>
                                        <form id="commentForm_accounting_{{ following.id }}" method="post" action="{% url 'accounting_comment' following.id %}">
                                            {% csrf_token %}
                                            <div class="form-group row">
                                                <label for="accounting_comment_{{ following.id }}">Comentario de Contabilidad:</label>
                                                <textarea id="accounting_comment_{{ following.id }}" name="accounting_comment" required></textarea>                                                
                                            </div>
                                            <button class="btn btn-primary" type="submit">Guardar comentario</button>
                                        </form>    
                                    </div>
                                </div>    
                            </td>
                            

                            <td>
                                {{following.accountingDate}}
                            </td>
                            <td>
                                {{following.receptor}}
                            </td>
                            <td>
                                {{following.modificationDate}}
                            </td>
                            <td>
                                {{following.modifier}}
                            </td>
                            <td>
                                {{following.closeDate}}
                            </td>
                            <td>
                                <button class="button-with-icon" onclick="showHistory('{{ following.pk }}')"></button>                    
                            </td>                                                    
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
    </div>
    <script>

        var gestorSeleccionado = null;
        var aprobadorSeleccionado = null;
        var revisorSeleccionado = null;
        var celdaActual = null;
        
        function mostrarLista(tipo, event, boton) {
            const endpoint = '/api/get-users/';
            const exclusions = {
                gestor: gestorSeleccionado
            };
        
            if (tipo === 'gestor') {
                exclusions.aprobador = aprobadorSeleccionado;
                exclusions.revisor = revisorSeleccionado;
            }
        
            const parametros = new URLSearchParams({
                exclude: JSON.stringify(exclusions)
            });
        
            
        
            fetch(endpoint + '?' + parametros.toString())
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    return response.json();
                })
                .then(users => {
    const listaUsuarios = document.getElementById("listaUsuarios");
    let content = `<h3>Selecciona un usuario:</h3><form method="post">{% csrf_token %}<ul>`;
    users.forEach(user => {
        let fullName = user.name + ' ' + user.last_name; // Asegúrate de que estos campos existen en el objeto user
        content += `<li><input type="radio" name="usuario" value="${user.id}" onclick="seleccionarUsuario(${user.id}, '${fullName}', '${tipo}')"> ${fullName}</li>`;
    });
    content += '</ul><button type="submit">Seleccionar</button></form>';
    listaUsuarios.innerHTML = content;
    listaUsuarios.style.display = 'block';
    listaUsuarios.style.left = `${event.clientX}px`;
    listaUsuarios.style.top = `${event.clientY}px`;
    celdaActual = boton.parentElement;
})
.catch(error => {
    console.error('Error loading the users:', error);
    alert('Error loading the users: ' + error.message);
});

        }
        
        function actualizarListaUsuarios(users, tipo, event, boton) {
            const listaUsuarios = document.getElementById("listaUsuarios");
            let content = `<h3>Selecciona un usuario:</h3><form method="post">{% csrf_token %}<ul>`;
            users.forEach(user => {
                content += `<li><input type="radio" name="usuario" value="${user.id}" onclick="seleccionarUsuario('${user.id}', '${user.first_name} ${user.last_name}', '${tipo}')"> ${user.first_name} ${user.last_name}</li>`;
            });
            content += '</ul><button type="submit">Seleccionar</button></form>';
            listaUsuarios.innerHTML = content;
            listaUsuarios.style.display = 'block';
            listaUsuarios.style.left = `${event.clientX}px`;
            listaUsuarios.style.top = `${event.clientY}px`;
            celdaActual = boton.parentElement;
        }
        
        function seleccionarUsuario(id, nombre, tipo) {
            const fila = celdaActual.closest('tr');
            const followingId = fila.dataset.followingId;  // Obtener el ID del seguimiento de la fila

            if (!followingId) {
                alert('No se pudo encontrar el ID del seguimiento');
                return;
            }

            celdaActual.innerHTML = `${nombre} <button onclick="mostrarLista('${tipo}', event, this)">Seleccionar</button>`;
            document.getElementById("listaUsuarios").style.display = 'none';
            alert(`Has asignado a ${nombre} como ${tipo}.`);

            // Envía la actualización al backend
            const url = '/api/update-role/';  // Verifica que la URL es correcta
            const data = `following_id=${followingId}&user_id=${id}&role_type=${tipo}`;

            fetch(url, {
            method: 'POST',
            headers: {'Content-Type': 'application/x-www-form-urlencoded'},
            body: data
            })
            .then(response => response.json())
            .then(data => {
            if (data.success) {
                console.log(data.message);
            } else {
                console.error(data.message);
            }
        })
        .catch(error => console.error('Error updating the user:', error));

    // Actualiza los IDs seleccionados basados en el tipo
        if (tipo === 'gestor') {
            gestorSeleccionado = id;
            aprobadorSeleccionado = null;
            revisorSeleccionado = null;
        } else if (tipo === 'aprobador') {
            aprobadorSeleccionado = id;
        } else if (tipo === 'revisor') {
            revisorSeleccionado = id;
        }
}

        
        </script>
        
    <script src="{% static '/js/popup.js' %}"></script>
    <script src="{% static '/js/showHistory.js' %}"></script>
    <script src="{% static '/js/toggleCommentForm.js' %}"></script>

</body>
{% endblock %}



