{% extends 'layouts/base.html' %}


{% block content %}
{% load static %}
{% include 'partials/error_modal.html' %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title >Ventanilla unica</title>
        <link rel="stylesheet" href= "{% static '/styles/oneStopShopStyle.css' %}" >
        <link rel="icon" href="data:;base64,iVBORw0KGgo=">
        <link rel="stylesheet" type='text/css' href="{% static '/styles/error_modal.css' %}">
    </head>
</html>

<body>
    <div class="heading">
        <h1><span style="font-size: 40px;"> CCSA </span></h1>
    </div>
    <div>
            <div class = "outer-wrapper">
                <div class="table-wrapper">
                    <table >
                        <tr>
                            <th>
                               Fecha de creación
                            </th>
                            <th>
                                Creador
                            </th>
                            <th>
                                Tipo de solicitud
                            </th>
                            <th>
                                Proveedor
                            </th>
                            <th>
                                Identificacion
                            </th>
                            <th>
                                Numero de documento
                            </th>
                            <th>
                                Datos adjuntos
                            </th>
                            <th>
                                Gestor
                            </th>
                            <th>
                                Estado
                            </th>
                            <th>
                                aprobado por
                            </th>
                            <th>
                                Revisado por
                            </th>
                            <th>
                                Estado de aceptacion
                            </th>
                            <th>
                                Fecha de aceptacion
                            </th>
                            <th>
                                Estado de revision
                            </th>
                            <th>
                                Revision
                            </th>
                            <th>
                                Concepto
                            </th>
                            <th>
                                Email del proveedor
                            </th>
                            <th>
                                Moneda
                            </th>
                            <th>
                                Valor del documento
                            </th>
                            <th>
                                CENCO
                            </th>
                            <th>
                                Numero de contrato CEX
                            </th>
                            <th>
                                Observaciones
                            </th>
                            <th>
                                Fecha de Revision
                            </th>
                            <th>
                                Estado de aprobación
                            </th>
                            <th>
                                Aprobación
                            </th>
                            <th>
                                Fecha de aprobación
                            </th>
                            <th>
                                Comentarios de aprobación
                            </th>
                            <th>
                                Recibido area contable
                            </th>
                            <th>
                                Comentarios area contable
                            </th>
                            <th>
                                Fecha del tramite
                            </th>
                            <th>
                                Recibido por(Area contable)
                            </th>
                            <th>
                                Modificado
                            </th>
                            <th>
                                Modificado por
                            </th>
                            <th>
                                Fecha de cierre
                            </th>
                            <th>
                                Historial
                            </th>
                        </tr>
                        {% for following in followingData %}
                        <tr>
                            <td>
                                {{following.creationDate}}
                            </td>
                            <td>
                                {{following.creator}}
                            </td>
                            <td>
                                {{following.type}}
                            </td>
                            <td>
                                {{following.supplier}}
                            </td>
                            <td>
                                {{following.supplierId}}
                            </td>
                            <td>
                                {{following.documentNumber}}
                            </td>
                            <td>
                                <ul>
                                    {% for document in files %}
                                    {% if document.associatedFollowing == following %}
                                    <a href="{{document.file.url}}">{{document}}</a>
                                    <br>
                                    {% endif %}
                                    {% endfor %}
                                </ul>
                            </td>
                            <td>
                                {{following.manager}}
                            </td>

                            <td bgcolor="{{ following.currentState.color }}">
                                <span id="state_{{ following.id }}">{{ following.currentState.state }}</span>
                                <button id="edit-btn_{{ following.id }}" class="edit-btn" onclick="openPop('{{ following.id }}')"></button>
                                <div id="popup_{{ following.id }}" class="popup">
                                    <div class="popup-content">
                                        <span class="close" onclick="closePop('{{ following.id }}')">&times;</span>
                                        <form id="editStateForm_{{ following.id }}" method="post" action="{% url 'update_state' following.id %}">
                                            {% csrf_token %}
                                            <div class="form-group row">
                                                <label for="estadoEdit">Estados:</label>
                                                <select id="estados_{{ following.id }}" name="estadoEdit" required>
                                                    {% for estado in states %}
                                                    <option value="{{ estado.state }}">{{ estado.state }}</option>
                                                    {% endfor %}
                                                </select>
                                                <button class="btn btn-primary" type="submit">Actualizar Estado</button>
                                            </div>
                                        </form>                                        
                                    </div>
                                </div>
                            </td>                                                          
                            <td>
                                {{following.acceptor}}
                            </td>
                            <td>
                                {{following.revisor}}
                            </td>
                            <td>
                                {{following.acceptanceState}}
                            </td>
                            <td>
                                {{following.acceptanceDate}}
                            </td>
                            <td>
                                {{following.revisionState}}
                            </td>
                            <td>
                                {{following.revision}}
                            </td>
                            <td>
                                {{following.concept}}
                            </td>
                            <td>
                                {{following.supplierEmail}}
                            </td>
                            <td>
                                {{following.moneyType}}
                            </td>
                            <td>
                                {{following.amount}}
                            </td>
                            <td>
                                {{following.cenco}}
                            </td>
                            <td>
                                {{following.cexNumber}}
                            </td>
                            <td>
                                {{following.observations}}
                            </td>
                            <td>
                                {{following.revisionDate}}
                            </td>
                            <td>
                                {{following.approvalState}}
                            </td>
                            <td>
                                {{following.approval}}
                            </td>
                            <td>
                                {{following.approvalDate}}
                            </td>
                            <td>
                                {{following.approvalComments}}
                            </td>
                            <td>
                                {{following.accountingReception}}
                            </td>
                            <td>
                                {{following.accountingComments}}
                            </td>
                            <td>
                                {{following.accountingDate}}
                            </td>
                            <td>
                                {{following.receptor}}
                            </td>
                            <td>
                                {{following.modificationDate}}
                            </td>
                            <td>
                                {{following.modifier}}
                            </td>
                            <td>
                                {{following.closeDate}}
                            </td>
                            <td>
                                <button class="button-with-icon" onclick="showHistory('{{ following.pk }}')"></button>                    
                            </td>                                                    
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
    </div>
    
    <script src="{% static '/js/popup.js' %}"></script>
    <script src="{% static '/js/showHistory.js' %}"></script>

</body>
{% endblock %}

