{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' type='text/css' href="{% static '/styles/sendRequisitionForm.css' %}">
  </head>
  {% block content %}
  <body>
    <div class="requisition-format">
      <div class="div">
        <header class="header">
          <div class="box-version">
            <div class="version">Versión: 1.0</div>
          </div>
          <div class="box-format">
            <div class="formato-text">FORMATO DE REQUISICIÓN</div>
          </div>
          <div class="box-codigo">
            <div class="codigo">Código: CTA-FR-005</div>
          </div>
          <div class="box-contabilidad">
            <div class="contabilidad">CONTABILIDAD</div>
          </div>
          <div class="box-procesos-institucionales">
            <div class="procesos">Procesos Institucionales</div>
          </div>
        </header>
        <div class="high-area">
          <div class="box-high-area">
            <div class="line-concepto"></div>
            <div class="input-concepto">{{concept}}</div>
            <div class="line-valor"></div>
            <div class="input-valor">{{value}}</div>
            <div class="money-symbol">$</div>
            <div class="line-cenco"></div>
            <div class="input-cenco">{{cenco}}</div>
            <div class="line-dependencia"></div>
            <div class="input-dependencia">{{dependency}}</div>
            <div class="line-cargo"></div>
            <div class="input-cargo">{{charge}}</div>
            <div class="line-numero-cedula"></div>
            <div class="input-numero-cedula">{{idNumber}}</div>
            <div class="line-a-favor-de"></div>
            <div class="input-a-favor-de">{{beneficiaryName}}</div>
            <div class="line-fecha"></div>
            <div class="input-fecha">{{date}}</div>
          </div>
          <div class="concepto">Concepto</div>
          <div class="valor">Valor</div>
          <div class="cenco">Cenco</div>
          <div class="dependencia">Dependencia</div>
          <div class="cargo">Cargo</div>
          <div class="numero-cedula">Numero de cedula</div>
          <div class="a-favor-de">A favor de</div>
          <div class="fecha">Fecha:</div>
          <div class="field-codigo-orden">
            <div class="box-codigo-orden"></div>
            <div class="input-codigo-orden">{{payment_order_code}}</div>
          </div>
          <p class="codigo-orden-pago">Código de Orden de pago</p>
          <div class="field-no-radicado">
            <div class="box-no-radicado"></div>
            <div class="input-no-radicado">{{radicate}}</div>
          </div>
          <div class="no-radicado">No. de Radicado</div>
          <div class="nit">NIT. 890.316.745-5</div>
          <div class="icesi">UNIVERSIDAD ICESI</div>
        </div>
        <div class="mid-area">
          <div class="field-description">
            <div class="rectangle"></div>
            <div class="input-descripcion">{{description}}</div>
          </div>
          <div class="text-description">DESCRIPCIÓN</div>
        </div>
        <div class="low-area">
          <div class="field-exclusive">
            <div class="box-exclusivo"></div>
            <div class="line-exclusivo"></div>
            <div class="motivo-devolucion">Motivo de Devolución :</div>
            <p class="p">Campo de uso exclusivo de la Oficina de Contabilidad</p>
          </div>
          <div class="line-nombre-de-quien"></div>
          <div class="nombre-de-quien">Nombre de quien elabora</div>
          <div class="input-nombre-de-quien">{{authorName}}</div>
          <div class="line-nombre-ordenador"></div>
          <div class="input-nombre-ordenador">{{beneficiaryName}}</div>
          <div class="nombre-ordenador">Nombre Ordenador de Gasto</div>
          <div class="line-firma-quien"></div>
          <div class="input-firma-de-quien">{{authorName}}</div>
          <div class="firma-de-quien">Firma de quien labora</div>
          <div class="input-firma-ordenador">{{beneficiaryName}}</div>
          <div class="line-firma-ordenador"></div>
          <div class="firma-ordenador">Firma Ordenador de Gasto</div>
          <div class="line-cuenta-bancaria"></div>
          <div class="input-cuenta">{{account_number}}</div>
          <div class="cuenta-bancaria"># Cuenta Bancaria</div>
          
          {% if typeAccount == "Corriente" %}
          <div class="box-corriente" style="background-color: black;"></div>
          {% else %}
          <div class="box-corriente"></div>
          {% endif %}
          <div class="corriente">Corriente</div>

          {% if typeAccount == "De ahorros" %}
          <div class="box-ahorros" style="background-color: black;"></div>
          {% else %}
          <div class="box-ahorros"></div>
          {% endif %}

          <div class="ahorros">Ahorros</div>
          <div class="line-datos-para-pago"></div>
          <div class="input-datos-para">{{paymentMethod}}</div>
          <div class="datos-para-pago">Datos para pago:</div>
        </div>
      </div>
    </div>
  </body>
  {% endblock %}
</html>
