{% extends 'layouts/base.html' %}

{% block content %}
<div style="width: 1440px; height: 1024px; position: relative; background: white">
  <img style="width: 195px; height: 64px; left: 25px; top: 28px; position: absolute" src="https://via.placeholder.com/195x64" />
  <div style="width: 514px; height: 120px; left: 818px; top: 509px; position: absolute">
    <div style="width: 500px; height: 50px; left: 4px; top: 51px; position: absolute; background: #E2EDFA"></div>
    <div style="width: 230px; height: 45px; left: 4px; top: 6px; position: absolute; color: black; font-size: 14px; font-family: Poppins; font-weight: 700; word-wrap: break-word">Archivos adjuntos</div>
    <div style="width: 24px; height: 24px; left: 465px; top: 64px; position: absolute">
      <div style="width: 10px; height: 18px; left: 7px; top: 3px; position: absolute; border: 2px black solid"></div>
    </div>
  </div>
  <div style="width: 514px; height: 120px; left: 814px; top: 219px; position: absolute">
    <div style="width: 500px; height: 50px; left: 4px; top: 51px; position: absolute; background: #E2EDFA"></div>
    <div style="width: 230px; height: 45px; left: 4px; top: 6px; position: absolute; color: black; font-size: 14px; font-family: Poppins; font-weight: 700; word-wrap: break-word">Proveedor</div>
  </div>
  <div style="width: 514px; height: 120px; left: 817px; top: 364px; position: absolute">
    <div style="width: 500px; height: 50px; left: 4px; top: 51px; position: absolute; background: #E2EDFA"></div>
    <div style="width: 230px; height: 45px; left: 4px; top: 6px; position: absolute; color: black; font-size: 14px; font-family: Poppins; font-weight: 700; word-wrap: break-word">Descripción</div>
  </div>
  <div style="width: 514px; height: 120px; left: 83px; top: 500px; position: absolute">
    <div style="width: 500px; height: 50px; left: 4px; top: 51px; position: absolute; background: #E2EDFA"></div>
    <div style="width: 230px; height: 45px; left: 4px; top: 6px; position: absolute; color: black; font-size: 14px; font-family: Poppins; font-weight: 700; word-wrap: break-word">Tipo de documento</div>
  </div>
  <div style="width: 323px; height: 54px; padding-left: 16px; padding-right: 16px; padding-top: 8px; padding-bottom: 8px; left: 559px; top: 841px; position: absolute; background: #0059A1; border-radius: 8px; overflow: hidden; justify-content: center; align-items: center; gap: 10px; display: inline-flex">
    <div style="flex: 1 1 0; align-self: stretch; text-align: center; color: white; font-size: 14px; font-family: Poppins; font-weight: 600; text-transform: capitalize; word-wrap: break-word">Enviar</div>
  </div>
  <div style="width: 323px; height: 54px; padding-left: 16px; padding-right: 16px; padding-top: 8px; padding-bottom: 8px; left: 559px; top: 920px; position: absolute; background: #E2EDFA; border-radius: 8px; overflow: hidden; border: 1px black solid; justify-content: center; align-items: center; gap: 10px; display: inline-flex">
    <div style="flex: 1 1 0; align-self: stretch; text-align: center; color: black; font-size: 14px; font-family: Poppins; font-weight: 600; text-transform: capitalize; word-wrap: break-word">Borrar</div>
  </div>
  <div style="width: 1437px; height: 98px; left: 2px; top: 0px; position: absolute; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); border: 1px rgba(208, 207, 207, 0.40) solid">
    <img style="width: 140px; height: 50px; left: 1160px; top: 19px; position: absolute" src="https://via.placeholder.com/140x50" />
    <div style="width: 1437px; height: 54px; left: 0px; top: 22px; position: absolute">
      <div style="width: 1437px; height: 54px; left: 0px; top: 0px; position: absolute">
        <div style="width: 527.22px; left: 70.35px; top: 2.40px; position: absolute; color: black; font-size: 35px; font-family: Open Sans Hebrew; font-weight: 700; word-wrap: break-word">Formulario de solicitud</div>
      </div>
    </div>
    <div style="width: 40px; height: 43.37px; left: 15px; top: 27px; position: absolute; background: #212121"></div>
  </div>
  <div style="width: 514px; height: 120px; left: 79px; top: 370px; position: absolute">
    <div style="width: 500px; height: 50px; left: 4px; top: 51px; position: absolute; background: #E2EDFA"></div>
    <div style="width: 230px; height: 45px; left: 4px; top: 6px; position: absolute; color: black; font-size: 14px; font-family: Poppins; font-weight: 700; word-wrap: break-word">Nombre completo</div>
  </div>
  <div style="width: 514px; height: 257px; left: 83px; top: 225px; position: absolute">
    <div style="width: 230px; height: 45px; left: 4px; top: 6px; position: absolute; color: black; font-size: 14px; font-family: Poppins; font-weight: 700; word-wrap: break-word">Tipo de  solicitud</div>
    <div style="width: 497px; height: 172px; left: 9px; top: 54px; position: absolute"></div>
    <div style="width: 497px; height: 172px; left: 9px; top: 43px; position: absolute">
      <div style="width: 497px; height: 24px; padding-left: 12px; padding-right: 12px; padding-top: 4px; padding-bottom: 4px; left: -5.99px; top: 0px; position: absolute; border-radius: 5px; border: 1px black solid; justify-content: center; align-items: center; gap: 5px; display: inline-flex">
        <div style="flex: 1 1 0; height: 17px; color: black; font-size: 7px; font-family: Poppins; font-weight: 700; word-wrap: break-word">Seleccionar</div>
        <div style="width: 8px; height: 6px; transform: rotate(-180deg); transform-origin: 0 0; border: 1px black solid"></div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
