{% extends 'layouts/base.html' %}


{% block content %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title >Ventanilla unica resumida</title>
        <link rel="stylesheet" href= "{% static '/styles/ventanillaUnica.css' %}" >
    </head>
</html>

<body>
    <div class="heading">
        <h1><span style="font-size: 40px;">Ventanilla unica resumida</span></h1>
    </div>
    <div>
            <div class = "outer-wrapper">
                <div class="table-wrapper">
                    <table >
                        <tr>
                            <th>
                               Fecha de creación
                            </th>
                            <th>
                                Tipo de solicitud
                            </th>
                            <th>
                                Gestor
                            </th>
                            <th>
                                Estado
                            </th>
                            <th>
                                Fecha de cierre
                            </th>
                        </tr>
                        {% for v in ventanilla %}
                        <tr>
                            <td>
                                {{v.creation_date}}
                            </td>
                            <td>
                                {{v.type}}
                            </td>
                            <td>
                                {{v.manager}}
                            </td>
                            <td bgcolor = {{v.currentState.color}}>
                                {{v.currentState.state}}
                            </td>
                            <td>
                                {{v.close_date}}
                            </td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
                
            </div>
    </div>
</body>
{% endblock %}






