
{% load static %}

<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet" />
    <link href='{% static "/forget.css" %}' rel="stylesheet" /> 
    <title>Restablecer Contraseña</title>
</head>
<body>
        <div class="v10_42">
            <div class="v11_171">
                <div class="v11_235"></div>
            </div>
            <span class="v10_44">Por favor, introduce la nueva contraseña que deseas utilizar. Asegúrate de elegir una combinación segura y fácil de recordar.</span>
            <input type="text" class="v10_45" placeholder="Nombre de Usuario">
            <input type="password" class="v10_45" placeholder="Nueva Contraseña">
        <input type="password" class="v10_45" placeholder="Confirmar Nueva Contraseña">
        <button type ="submit" class="btn">Volver</button>
            
        </div>
    </div>
</body>
</html>
