
{% load static %}

<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet" />
    <link href='{% static "styles/forget.css" %}' rel="stylesheet" /> 
    <title>Restablecer Contraseña</title>
</head>
<body>
    <div class="container">
        <form method="post">
            {% csrf_token %}
            <p>Por favor, introduce tu correo electrónico para restablecer tu contraseña.</p>
            {{ form.email.errors }}
            
            {{ form.email }}
            <button type="submit" class="btn">Enviar Instrucciones</button>
        </form>
    </div>
</body>
</html>


